<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<style>
body
{
    background-image: url("images/home.jpg");
    background-repeat: no-repeat;
	opacity:0.9;
    background-size: 200%; 
    padding-bottom: 75px;;
}
.navbar-default
{
	background-color: black;
	color: white;
}
</style>
</head>
<body>
<div class="container">
<div class="row">
	<div class="col-sm-3"></div>	
	<div class="col-sm-9">
		<h2 style="text-align: left; color: blue"><font face="Monotype Corsiva">Welcome to My Collaboration</font></h2>
		<h3 style="text-align: left; color: green"><font face="Palatino Linotype"><br>A place to socialize with friends and find New people...
		                                   <br>Come in,Join US... 
		<br>Check out various Blogs,Join some Forum discussions,Ask Questions,Make new Friends,Hunt for Jobs,Keep an eye on the Events happening.
		<br>All this, just <strong><a data-ng-show="!currentUser.username" style="color: blue" href="#/register">HERE!!!</a><a style="text-decoration: none;" data-ng-show="currentUser.username">HERE!!!</a>
		</strong></font></h3>
	</div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
   <marquee behavior="slide" direction="left" scrollamount="7"><h4>Website developed and maintained by Ashikha</h4></marquee>
  </div>
</nav>
</body>
</html>